.app {
  max-width: 1024px; 
  margin: auto 
}

.app-container {
  padding: 24px;
  background: white;
  min-height: 500px;
} 

.poster-image {
  width: 100%;
  height: auto;
  
  border-radius: 10px;
}